img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    padding: 20px 0px 20px 0px;
}

.upload-wrapper {
    padding: 100px;
    display: flex;
    flex-direction: column;
}

input {
    padding: 15px 0px;
}

button {
    width: 87px;
}

h2 {
    padding-left: 100px;
}

.images-wrapper {
    padding-left: 100px;

    display: flex;
    flex-wrap: wrap;
}

.image-delete-wrapper {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    align-items: center;
    padding-bottom: 50px;
}